html {
    -webkit-text-size-adjust: 100%;
}

.page {
  padding-top: 80px;
  background-color: #f7f7f7;
  padding-bottom: 120px;
  height: auto !important;
  min-height: 100vh;
}

.page_title {
  text-align: center;
}

.page h1{
 font-size: 250%;
 color: #323232;
 text-align: center;
 display: inline-block;
 position: relative;
 margin-right: auto;
 margin-left: auto;
}

.page .page_title h1::before {
  content: '';
  background-color: #F44336;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  left: -30px;
  top: 40%;
}

.page .page_title h1::after {
  content: '';
  background-color: #F44336;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  right: -30px;
  top: 40%;
}

.v-application a {
  text-decoration: none;
}

